<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            //============================ TEMPERATURA ============================
            fetch('/api/chart/last24')
                .then(response => response.json())
                .then(data => {
                    const formattedData = data.map(item => [
                        new Date(item.timestamp),
                        item.temperature,
                        30
                    ]);

                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('datetime', 'Hora');
                    dataTable.addColumn('number', 'Temperatura °C');
                    dataTable.addColumn('number', 'Limite');
                    dataTable.addRows(formattedData);

                    const options = {
                        title: 'Temperatura',
                        legend: { position: 'bottom' },
                        hAxis: {
                          title: 'Hora'
                        },
                        vAxis: {
                          title: 'Valores'
                        },
                        series: {
                            0: { color: 'green' },
                            1: { lineDashStyle: [4, 4], color: 'red' },
                        }

                    };

                    const chart = new google.visualization.LineChart(document.getElementById('div_chart_temp'));
                    chart.draw(dataTable, options);
                });
        }
    </script>
</head>
<body>
<div id="div_chart_temp" style="width: 1400px; height: 500px"></div>
<div id="div_chart_humid" style="width: 1400px; height: 500px"></div>
<div id="div_chart" style="width: 1400px; height: 500px"></div>
</body>
</html>
